<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleDisplayName</key>
	<string>Lush</string>
	<key>UIAppFonts</key>
	<array>
		<string>Caroni-Regular.otf</string>
		<string>FantasqueSansMono-Regular.ttf</string>
		<string>FantasqueSansMono-Bold.ttf</string>
		<string>FantasqueSansMono-Italic.ttf</string>
		<string>FantasqueSansMono-BoldItalic.ttf</string>
		<string>jost-vf.ttf</string>
		<string>Merriweather-VariableFont_opsz,wdth,wght.ttf</string>
		<string>Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Attaches your location to notes as context.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>party.chee.lush</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lush</string>
			</array>
		</dict>
		</array>
		<key>NSUserActivityTypes</key>
		<array>
			<string>com.apple.corespotlightitem</string>
			<string>party.chee.patchwork.lush.view</string>
		</array>
		<key>NSServices</key>
		<array>
			<dict>
				<key>NSMenuItem</key>
				<dict>
					<key>default</key>
					<string>Add to Lush Quick Note</string>
				</dict>
				<key>NSMessage</key>
				<string>addSelectionToQuickNote</string>
				<key>NSSendTypes</key>
				<array>
					<string>NSStringPboardType</string>
					<string>public.utf8-plain-text</string>
				</array>
			</dict>
			<dict>
				<key>NSMenuItem</key>
				<dict>
					<key>default</key>
					<string>Import into Lush</string>
				</dict>
				<key>NSMessage</key>
				<string>importSelectionIntoLush</string>
				<key>NSSendTypes</key>
				<array>
					<string>NSStringPboardType</string>
					<string>NSFilenamesPboardType</string>
					<string>public.file-url</string>
					<string>public.utf8-plain-text</string>
				</array>
			</dict>
		</array>
		<key>UILaunchScreen</key>
		<dict/>
</dict>
</plist>
