<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>party.chee.lush</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lush</string>
			</array>
		</dict>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeFerry</string>
		<string>MKDirectionsModeOther</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModePlane</string>
		<string>MKDirectionsModeRideShare</string>
		<string>MKDirectionsModeStreetCar</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeTaxi</string>
		<string>MKDirectionsModeTrain</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add to Lush Quick Note</string>
			</dict>
			<key>NSMessage</key>
			<string>addSelectionToQuickNote</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Import into Lush</string>
			</dict>
			<key>NSMessage</key>
			<string>importSelectionIntoLush</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSFilenamesPboardType</string>
				<string>public.file-url</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.corespotlightitem</string>
		<string>party.chee.patchwork.lush.view</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Caroni-Regular.otf</string>
		<string>FantasqueSansMono-Regular.ttf</string>
		<string>FantasqueSansMono-Bold.ttf</string>
		<string>FantasqueSansMono-Italic.ttf</string>
		<string>FantasqueSansMono-BoldItalic.ttf</string>
		<string>jost-vf.ttf</string>
		<string>Merriweather-VariableFont_opsz,wdth,wght.ttf</string>
		<string>Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>party.chee.patchwork.lush.sync.refresh</string>
		<string>party.chee.patchwork.lush.sync.processing</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSFocusStatusUsageDescription</key>
	<string>Lush uses your Focus status to apply the folder and note settings you configured for each Focus.</string>
</dict>
</plist>
